<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":2,"size_y":1}]')
});
</script>

<% content_for :title do %>Example board<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="job1" data-view="JenkinsBuild" data-title="Apache Jackrabbit Oak matrix" data-description="A description of the project" data-min="0" data-max="200"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="job2" data-view="JenkinsBuild" data-title="Hadoop-Hdfs-trunk-Java8" data-description="" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="job3" data-view="JenkinsBuild" data-title="cayenne-master" data-description="" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="burndown" data-view="JiraBurndown" data-title="Convergence" style="background-color:#dfdfdf"></div>
    </li>
  </ul>
</div>
